<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Folkets Bio i Grådask - Officiell webbplats för biograferna. Vi visar prisbelönt kvalitetsfilm från hela världen. Läs vårt program och boka era platser här."
    />
    <meta name="author" content="Folket Bio i Grådask" />
    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="Biograf Regna" />
    <meta
      name="og:description"
      content="Folkets Bio i Grådask - Officiell webbplats för biograferna. Vi visar prisbelönt kvalitetsfilm från hela världen. Läs vårt program och boka era platser här."
    />
    <meta
      property="og:image"
      content="https://jrschoolaccount.github.io/Group-Assignment2-Cinema-Project/assets/logga.png"
    />
    <meta
      property="og:url"
      content="https://jrschoolaccount.github.io/Group-Assignment2-Cinema-Project/"
    />
    <meta property="og:type" content="website" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@kinogrådask" />
    <meta name="twitter:title" content="Biograf Regna" />
    <meta
      name="twitter:description"
      content="Folkets Bio i Grådask - Officiell webbplats för biograferna. Vi visar prisbelönt kvalitetsfilm från hela världen. Läs vårt program och boka era platser här."
    />
    <meta
      name="twitter:image"
      content="https://jrschoolaccount.github.io/Group-Assignment2-Cinema-Project/assets/logga.png"
    />
    <link rel="stylesheet" href="/static/main.css" >

    
   
    <title>Biograf Regna</title>
    <link rel="icon" type="image/png" href="/assets/logga.png" />
  </head>

  <body>
     <header>
      
          <div class="header__div">
      <a href="/" 
      class="header__logo">
      <img  src="/assets/logo-biograf_regna.png" 
      style="height: 130px" alt="Logotype for
        Folkets Bio" /></a>
          <nav>
          <ul>
            {{#each menuItems}}
            <li class="menu-item {{#if this.active}}active{{else}}inactive{{/if}}">
              <a href="{{this.link}}">{{this.label}}</a>
            </li>
            {{/each}}
          </ul>
        </nav>
          </div>       
      </header>
         <img class="background__raining" 
         src="/assets/raining-background.jpg" 
        alt="raining in the background" />
 

  <div class="main">
        {{{body}}}
      </div>

    <section></section>

    <footer>
      <div class="footer__info">
        <div>
          <h3>Hitta hit</h3>
          <p>Regnagården 47</p>
          <p>640 10 Högsjö</p>
        </div>
        <div>
          <h3>Öppettider</h3>
          <p>18-24 Fredag-Söndag</p>
          <p>(Obs. Vi har öppet endast när det regnar)</p>
        </div>
        <div>
          <h3>Kontakt</h3>
          <p>regna@folketsbio.nu</p>
          <p>0151-123 45</p>
        </div>
      </div>
      <button id="faqBtn">FAQ</button>
      <div class="footer_social_icons">
        <img src="/assets/iconmonstr-facebook-5-240.png" alt="Facebook Icon" />
        <img src="/assets/icons8-twitterx-250.png" alt="Twitterx Icon" />
        <img
          src="/assets/iconmonstr-instagram-11-240.png"
          alt="Instagram Icon"
        />
        <img src="/assets/iconmonstr-youtube-6-240.png" alt="Youtube Icon" />
      </div>
    </footer>
  </body>
</html>
