<main class="filmer__main">
  <h1 class="filmer__title">Welcome to our website!</h1>

  <ul>
    {{#each movies}}
      <li class="filmer__li">
        <a class="filmer__link" href="/filmer/movies/{{this.id}}">
          {{this.attributes.title}}
        </a>
      </li>
    {{/each}}
  </ul>

</main>