//for filmer.handlebars
.filmer {
  &__title {
    position: relative;
    text-align: left;
    padding-left: 10%;
  }

  &__li {
    padding: 2.5rem 0 0 15%;
  }
  &__link {
    font-weight: bold;
    font-size: 2.5rem;
    color: $lightgrey;
    padding-left: 13%;
    position: relative;
    display: flex;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
  }
  &__link:hover {
    color: yellow;
    transform: translate(30px);
    transition: transform 0.3s ease;
  }
}
//for movie.handlebars
.movie {
  &__main {
    // margin-top: -10%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-left: 25%;
    max-width: 850px;
    width: 100%;
    background-image: url('/assets/raining-background.jpg'); /* Replace with the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1); /* Adjust the opacity as needed */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
  }
  &__article{
    // background-color: RED;
    min-height: 250px;
    opacity: 1;
  }
  &__title {
    font-size: 3rem;
  
  }
  &__intro {
    font-size: 2.1rem;
    color: $lightgreen;
    margin: 2% 25%;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    // background-color: black;
  }

  &__img {
    max-width: 25rem;
    &__div {
      width: 200px;
      height: auto;        
      float: center;
      
    }
  }
  &__link {
    font-size: 2rem;
    color: $lightgrey;
    display: block;
    
    // background-color: blue; 
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
    &__div{
      float: right;
      margin-top: 15%;
    }
  }
  &__link:hover {
    background-color: blue;
    transform: scale(1.2);
    transition: transform 0.3s ease;
  }
}
