//for filmer.handlebars
.filmer {
  &__title {
    position: relative;
    text-align: left;
    padding-left: 10%;
  }

  &__li {
    padding: 2.5rem 0 0 15%;
  }
  &__link {
    font-weight: bold;
    font-size: 2.5rem;
    color: $lightgrey;
    padding-left: 13%;
    position: relative;
    display: flex;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
  }
  &__link:hover {
    color: yellow;
    transform: translate(30px);
    transition: transform 0.3s ease;
  }
}
//for movie.handlebars
.movie {
  &__main {
    // margin-top: -10%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 0 25% ;
    max-width: 900px;
    width: 100%;
    background-color: white;
  }
  &__article{
    // background-color: RED;
    margin-left: 15%;
    min-height: 250px;
    opacity: 1;

  }
  &__title {
    font-size: 3rem;
    color:$black;
  }
  &__intro {
    font-size: 2rem;
    padding: 10%;
    margin: 2%;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    //  background-color: black;
  }

  &__img {
    max-width: 25rem;
    &__div {
      width: 200px;
      height: auto;        
      float: center;
      
    }
  }
  &__link {
    font-size: 1.5rem;
    color: $black;
    display: block;    
    // background-color: blue; 
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
    &__div{
      float: right;
      margin-top: 15%;
    }
  }
  &__link:hover {
    background-color: blue;
    transform: scale(1.2);
    transition: transform 0.3s ease;
  }
}
md-block{
  font-size: 3rem;
    color:$black;
}